.sidebar {
  width: 15rem;
  background-color: #fff;
  margin-top: 34px;
  color: #1d2a60;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 4px;
}
.sidebar::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar .container {
  padding: 1rem 0 1rem 0;
  margin-top: 1.5rem;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
}

.sidebar .menu-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: #1d2a60;
  transition: background-color 0.3s;
  margin-bottom: 0.5rem;
}

.sidebar .menu-item:hover {
  background-color: #efeff0;
}

.sidebar .menu-item.active {
  background-color: #eef2ff;
  border-right: 4px solid #1d2a60;
}

.sidebar .menu-item span {
  font-size: 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 4rem;
}

.navbar-logo {
  height: 2.5rem;
  width: 2.5rem;
  color: #4f46e5;
}

.navbar-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #1f2937;
}
