.brand-management-container {
    max-width: calc(100% - 18rem); /* Adjust for sidebar width */
    margin-left: 18rem; /* Push right to make space for sidebar */
    margin-top: 4rem; /* Push down to make space for header */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .brand-management-container h2 {
    margin-bottom: 15px;
    color: #333;
  }
  
  .top-bar {
    display:flex;
    justify-content: space-between;
    margin: 40px !important;
    align-items: center;
  }
  
  .search-sort-container {
    display: flex;
    gap: 20px;
  }
  
  .search-sort-container input,
  .search-sort-container select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .new-brand-button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .new-brand-button:hover {
    background-color: #0056b3;
  }
  
  .pagination-container {
    display: flex;
    justify-content: center;
    width:100%;
    gap: 5px;
    margin: 18px !important;
    border-top: none;
  }
  
  .pagination-button {
    padding: 6px 10px;
    border: 1px solid #ccc;
    background-color: #817c7c;
    color:#007bff;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination-button.active {
    background-color: #007bff;
    color: rgb(21, 7, 7);
    border-color: #007bff;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    max-width: 90%;
  }
  