.brand-table-container {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.brand-table-container table {
  width: 100%;
  border-collapse: collapse;
}

.brand-table-head th {
  text-align: center;
  background-color: #b5b5b5;
  color: rgb(32, 7, 7);
}

.brand-table-head th:first-child {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}

.brand-table-head th:last-child {
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}

.brand-table-container td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.brand-table-container tbody tr:hover {
  background-color: #e9ecef;
}

.brand-table-container button {
  padding: 6px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.brand-table-container button:first-child {
  background-color: transparent;
}

.brand-table-container button:first-child:hover {
  background-color: #cdcdcd;
}

.brand-table-container button:last-child {
  background-color: transparent;
}

.brand-table-container button:last-child:hover {
  background-color: #cdcdcd;
}
